body {
  padding: 0;
}

.page-wrapper {
  max-width:550px;
  margin-right: auto;
  margin-left: auto;
  padding:15px;
}

.page-wrapper .logo-img {
  margin-top:-10px;
}

.main {
  position:absolute;
  top:51px;
  left:0;
  height:94.8%;
  width:100%;
}

.sidebar {
  display:inline-block;
  width:13.5%;
  vertical-align: top;
  height:100%;
  background:#333;
  position:relative;
  padding: 10px;
  overflow-y:auto;
}

.sidebar .site-name {
  background:#333;
  padding:15px 0px 15px 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sidebar .site-name h2{
  color:#fff;
  font-size:18px;
  font-weight:bold;
}

.sidebar .channel-list {
  margin-top:190px;
  position:relative;
}

.sidebar .channel-list .channel a{
  display:block;
  color:rgba(255,255,255,0.6);
  padding:3px 0px 3px 15px;
  width:90%;
  font-weight:300;

  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sidebar .channel-list .channel a:hover{
  text-decoration: none;
  background:#3E313C;
}

.sidebar .channel-list .channel a.selected{
  background:#4c9689;
  color:#fff;
  text-decoration: none !important;
}

.sidebar .channel-list .channel.create {
  font-style: italic;
}

.sidebar .channel-list .list-head {
  margin-top:10px;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.sidebar .my-info {
  position:absolute;
  bottom:0;
  left: 0;
  right: 0;
  padding:15px;
  background:#333;
}

.sidebar .my-info .user-pic {
  display: inline-block;
  vertical-align: top;
  width:44px;
  height:44px;
  border-radius:4px;
}

.sidebar .my-info .user-info {
  padding-left:5px;
  display: inline-block;
  vertical-align: top;
}

.sidebar .my-info .user-info .user-name {
  color:#fff;
  font-size:16px;
  font-weight:bold;
}

.sidebar .my-info .user-info .options {
  color:#999;
  font-size:12px;
}

.sidebar .my-info .user-info .options a{
  color:#999;
  font-size:12px;
}

.sidebar .presence {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #ab9ba9;
  vertical-align: middle;
}

.sidebar .presence.online {
  background: #99d04a;
}

.message-pane {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 59%;
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding: 65px 0;
}

.message-pane .header {
  position:fixed;
  top:51px;
  background:#333;
  width:100%;
  z-index:2;
}

.message-pane .header h1 {
  padding:12px;
  margin-top:0px;
  margin-bottom:0px;
  font-size:24px;
  color: rgb(207, 207, 207);
  font-weight:900;
}

.message-form {
  position: absolute;
  bottom:0;
  padding:0 15px 15px 0;
  background:#fff;
  width: 59%;
  margin-bottom: 0 !important;
}

.message-wrap {
  position:relative;
  margin-top:15px;
}

.user-pic {
  width:36px;
  height:36px;
  border-radius:4px;
  display: inline-block;
  vertical-align: top;
}

.message-info {
  display: inline-block;
  vertical-align: top;
  padding-left:5px;
}

.user-name {
  color:#555459;
  font-weight:900;
}

.user-name span{
  color:#ccc;
  font-weight: normal;
  font-size:10px;
}

.twitter-timeline{
  display: inline-block;
  vertical-align: top;
  padding-right:75px;
}
#twitter-widget-0{
  position: absolute !important;
  top: 5%;
  right: 5px;;
  height: 95% !important;
}

@media screen and (max-width: 1880px) {
  .message-pane{
      width: 80%;
  }
  .message-form {
    width: 80%;
  }
  #twitter-widget-0{
    display: none !important;
    /*position: relative !important;
    margin-left: 25%;*/
  }
}

.news-article {
  padding: 0 10px;
  margin-bottom: 40px;
}

.news-article h2{
  color: #EBCDB5;
  padding: 5px;
  background: -moz-linear-gradient(left,  rgba(0,3,51,0.65) 0%, rgba(3,6,53,0.65) 1%, rgba(252,252,253,0) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,3,51,0.65) 0%,rgba(3,6,53,0.65) 1%,rgba(252,252,253,0) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,3,51,0.65) 0%,rgba(3,6,53,0.65) 1%,rgba(252,252,253,0) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000333', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
