<div ng-include="'/app/views/partials/header.html'"></div>
  <div class="main" ng-init="channelsCtrl.hideNews = false;">
    <div class="sidebar">

      <div class="site-name sidebar-block text-center">
        <img ng-src="/assets/theme/images/people/110/{{channelsCtrl.profile.profileImg ? channelsCtrl.profile.profileImg : 'guest.jpg'}}" height="110" class="img-circle" alt="user profile" />
        <h4 style="color: #fff;">{{channelsCtrl.profile.displayName}}</h4>
      </div>


      <div class="channel-list">
        <div class="list-head">Channels</div>
        <div class="channel" ng-repeat="channel in channelsCtrl.channels">
          <a ui-sref="channels.messages({channelId: channel.$id})" ui-sref-active="selected"># {{ channel.name }}</a>
        </div>

        <div class="create channel">
            <a ui-sref="channels.create">+ create channel</a>
        </div>

        <div class="list-head">Direct Messages</div>
        <div class="channel" ng-repeat="user in channelsCtrl.users">
            <a ng-if="user.$id !== channelsCtrl.profile.$id" ui-sref="channels.private({uid: user.$id})" ui-sref-active="selected">
              <span class="presence" ng-class="{online: user.online}"></span>
              {{ user.displayName }}
            </a>
        </div>

        <div style="cursor: pointer;" class="list-head" ng-click="channelsCtrl.hideNews = !channelsCtrl.hideNews">{{channelsCtrl.hideNews ? 'Show News' : 'Hide News'}}</div>

      </div>

      <div class="my-info">
        <div class="user-info">
          <div class="user-name">
            <span class="presence" ng-class="{online: channelsCtrl.profile.online}"></span>
            {{ channelsCtrl.profile.displayName}}
          </div>

          <div class="options">
            <a ui-sref="profile">edit profile</a> /
            <a href="#" ng-click="channelsCtrl.logout()">logout</a>
          </div>
        </div>
      </div>

    </div>

    <div class="message-pane" scroll-glue>

      <div style="padding: 40px;" ng-show="!channelsCtrl.hideNews">
          <h1>News</h1>
          <div class="news-article">
            <h2>Mr. Wayne.</h2>
            <p>
              Breathe in your fears. Face them. To conquer fear, you must become fear. You must bask in the fear of other men. And men fear most what they cannot see. You have to become a terrible thought. A wraith. You have to become an idea! Feel terror cloud your senses. Feel its power to distort. To control. And know that this power can be yours. Embrace your worst fear. Become one with the darkness.
              My name is Merely Ducard but I speak for Ra's al Ghul... a man greatly feared by the criminal underworld. A mon who can offer you a path. Someone like you is only here by choice. You have been exploring the criminal fraternity but whatever your original intentions you have to become truly lost. The path of a man who shares his hatred of evil and wishes to serve true justice. The path of the League of Shadows.
              I seek the means to fight injustice. To turn fear against those who prey on the fearful.
              Maybe someday, when Gotham no longer needs Batman I'll see him again.
              You see, I'm a guy of simple taste. I enjoy dynamite and gunpowder and gasoline.
              I just want my phone call.</p>
          <p>
            You have inspired good. But you spat in the faces of Gotham's criminals. Didn't you think there might be casualties? Things always get worse before they get better.
            All creatures feel fear. Especially the scary ones.
            You hung up your cape and your cowl but you didn't move on. You never went to find a life.
            Just know that there are those of us who care about what you do with your future.
            Gotham's been good to our family, but the city's been suffering. People less fortunate than us have been enduring very hard times. So we built a new, cheap, public transportation system to unite the city. And at the center, Wayne tower.
            It will be extremely painful... for you!</p>
        </div>

        <div class="news-article">
          <h2>Squash potatoes are .....</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      </div>
      <ui-view></ui-view>
    </div>
    <div ng-controller="TimelineController">
      <a class="twitter-timeline" href="https://twitter.com/antibullyleader" data-widget-id="673634679698776064">Tweets by @antibullyleader</a>
    </div>
  </div>
