<div class="container-fluid">
  <div class="input-group-btn">
    <a class="btn btn-primary" href="#"><i class="fa fa-envelope"></i> Send</a>
  </div>
  <!-- /btn-group -->
  <input type="text" class="form-control share-text" placeholder="Write message..." />
</div>
<div class="row">
  <div class="col-md-9">
    <a class="twitter-timeline" data-widget-id="{widget_id}" href="https://twitter.com/{screen_name}/timelines/{collection_id}"
    data-custom-timeline-id="{collection_id}">
{collection_title}
</a>
    
    <!--<ul class="timeline-list">
      <li class="media media-clearfix-xs">
        <div class="media-left">
          <div class="user-wrapper">
            <img src="images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80" />
            <div><a href="#">Adrian D.</a></div>
            <div class="date">19 OCT</div>
          </div>
        </div>
        <div class="media-body">
          <div class="media-body-wrapper">
            <div class="row">
              <div class="col-md-10 col-lg-8">
                <div class="panel panel-default share clearfix-xs">
                  <div class="panel-heading panel-heading-gray title">
                    What&acute;s new
                  </div>
                  <div class="panel-body">
                    <textarea name="status" class="form-control share-text" rows="3" placeholder="Share your status..."></textarea>
                  </div>a
                  <div class="panel-footer share-buttons">
                    <a href="#"><i class="fa fa-map-marker"></i></a>
                    <a href="#"><i class="fa fa-photo"></i></a>
                    <a href="#"><i class="fa fa-video-camera"></i></a>
                    <button type="submit" class="btn btn-primary btn-xs pull-right display-none" href="#">Post</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="nav timeline-months">
      <li class="active"><a href="#october"><i class="fa fa-calendar fa-fw"></i>October</a></li>
      <li><a href="#september"><i class="fa fa-calendar fa-fw"></i>September</a></li>
      <li><a href="#august"><i class="fa fa-calendar fa-fw"></i>August</a></li>
      <li><a href="#july"><i class="fa fa-calendar fa-fw"></i>July</a></li>
      <li><a href="#june"><i class="fa fa-calendar fa-fw"></i>June</a></li>
      <li><a href="#may"><i class="fa fa-calendar fa-fw"></i>May</a></li>
    </ul>-->
  </div>
</div>
