<!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
<div class="sidebar sidebar-chat right sidebar-size-2 sidebar-offset-0 chat-skin-white" id=sidebar-chat>
  <div class="split-vertical">
    <div class="chat-search">
      <input type="text" class="form-control" placeholder="Search" />
    </div>
    <ul class="chat-filter nav nav-pills ">
      <li class="active"><a href="#" data-target=".channel">Channels</a></li>
      <li><a href="#" data-target=".mentors">Mentors</a></li>
      <li><a href="#" data-target=".bud">Buds</a></li>
    </ul>
    <div class="split-vertical-body">
      <div class="split-vertical-cell">
        <div data-scrollable>
          <ul class="chat-contacts">
            <li class="channel">
              <a href="#">
                <div class="media">
                  <div class="pull-left">
                    <span class="status"></span>
                  </div>
                  <div class="media-body">
                    <div class="contact-name">Self Harm</div>
                    <small>"Anger"</small>
                  </div>
                </div>
              </a>
            </li>
            <li class="mentors" data-user-id="">
              <a href="#">
                <div class="media">
                  <div class="pull-left">
                    <span class="status"></span>
                    <img src="images/people/110/guy-6.jpg" width="40" class="img-circle" />
                  </div>
                  <div class="media-body">
                    <div class="contact-name">Jonathan S.</div>
                    <small>"Free Today"</small>
                  </div>
                </div>
              </a>
            </li>
            <li class="bud" data-user-id="">
              <a href="#">
                <div class="media">
                  <div class="pull-left">
                    <span class="status"></span>
                    <img src="images/people/110/guy-6.jpg" width="40" class="img-circle" />
                  </div>
                  <div class="media-body">

                    <div class="contact-name">MY BUD</div>
                    <small>"Free Today"</small>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="chat-window-container"></div>