<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-body chat-body" id="chat" scroll-glue>
        <div ng-repeat="chat in chats" style="margin: 40px;">
          {{chat.body}}
          <br>{{chat.username}} {{chat.timestamp | date}}
        </div>
      </div>
      <div class="panel-footer">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="newChat" />
            <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="sendChat()">SEND <i class="glyphicon glyphicon-send"></i></button>
          </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div ng-include="'/app/views/partials/dashboard/sidebar-left.html'"></div>
<div ng-include="'/app/views/partials/dashboard/sidebar-right.html'"></div>-->
<!--<div class="st-pusher" id="content">
  <div class="st-content">
    <div class="st-content-inner">
      <nav class="navbar navbar-subnav navbar-static-top margin-bottom-none" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
              <span class="sr-only">Toggle navigation</span>
              <span class="fa fa-ellipsis-h"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav ">
              <li><a href="index.html"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a></li>
              <li><a href="user-public-profile.html"><i class="fa fa-fw icon-user-1"></i> About</a></li>
              <li class="active"><a href="user-public-users.html"><i class="fa fa-fw fa-users"></i> Friends</a></li>
            </ul>
            <ul class="nav navbar-nav hidden-xs navbar-right ">
              <li><a href="#" data-toggle="chat-box">Chat <i class="fa fa-fw fa-comment-o"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>-->
<!--<div class="cover overlay cover-image-full height-300-lg">
        <img src="images/profile-cover.jpg" alt="cover" />
        <div class="overlay overlay-full">
          <div class="v-top">
            <a href="#" class="btn btn-cover"><i class="fa fa-pencil"></i></a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div id="filter">
          <form class="form-inline">
            <label>Filter:</label>
            <select name="users-filter" id="users-filter-select" class="selectpicker" data-style="btn-primary" data-width="auto">
              <option value="all">All</option>
              <option value="friends">Friends of Friends</option>
              <option value="name">by Name</option>
            </select>
            <div id="users-filter-trigger">
              <div class="select-friends hidden">
                <select name="users-filter-friends" class="selectpicker" data-style="btn-primary" data-live-search="true">
                  <option value="0">Select Friend</option>
                  <option value="1">Mary D.</option>
                  <option value="2">Michelle S.</option>
                  <option value="3">Adrian Demian</option>
                </select>
              </div>
              <div class="search-name hidden">
                <input type="text" class="form-control" name="user-first" placeholder="First Last Name" id="name" />
                <a href="#" class="btn btn-default hidden" id="user-search-name"><i class="fa fa-search"></i> Search</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel-footer">
        <a href="#" class="btn btn-default btn-sm">Follow <i class="fa fa-share"></i></a>
      </div>
    </div>
  </div>
</div>-->
