<section class="jumbotron text-center row">
	<div class="col-sm-12">
		<img src="/assets/img/logo.png" alt="Bullied Haven Logo">
	</div>
	<div class="col-sm-4 col-sm-offset-4">
		<a href="" class="btn btn-block btn-bh" style="margin: 20px 0; font-size:large;">Enter as Guest</a>
	</div>
</section>

<section class="full-width newsletter" style="margin-bottom: 60px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3 class="heading">Join Our Newsletter</h3>
				<p class="description">Stay up to date with the latest news by subscribing to our newsletter.</p>
			</div>
			<div class="col-sm-6">
				<div class="alert">
					<button type="button" class="close">×</button>
					<p></p>
				</div>
				<form class="form-inline pull-right">
					<input type="email" id="email" name="email" placeholder="youremail@domain.com">
					<input type="button" id="submit" class="btn btn-primary" value="Subscribe Now">
				</form>
			</div>
		</div>
	</div>
</section>

<!-- begins main content -->
<div class="main-content">
	<section id="features-section" class="container section features">
		<div class="row feature-item">
			<div class="col-sm-7 hero-video">
				<iframe src="https://www.youtube.com/embed/WcSUs9iZv-g?showinfo=0" height="377" frameborder="0"
				webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="allowfullscreen"></iframe>
			</div>
			<div class="col-sm-5 right-text">
				<h2 class="heading">Kevin's instant regret</h2>
				<p class="description">Since 1937, over 2,000 people have died from jumping off of the Golden Gate bridge and this guy is a part of the 1% that have survived. He is happy to be alive and wanted to share his story.</p>
					<p><a href="http://www.suicidetherippleeffect.com/" title="Preventing Suicide" target="_blank">The Ripple Effect</a></p>
			</div>
		</div>
		<hr>
		<div class="row feature-item">
			<div class="col-sm-6">
				<h2 class="heading">100% FULLY RESPONSIVE</h2>
				<p class="description"><p> your entrance was good, his was better. your entrance was good, his was better. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. we got no food we got no money and our pets heads are falling off! haaaaaaarry. kinda hot in these rhinos. we got no food we got no money and our pets heads are falling off! haaaaaaarry. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. look ma i'm road kill brain freeze. here she comes to wreck the day. ,</p>
<p> good morning, oh in case i don't see you, good afternoon, good evening and goodnight. hey, maybe i will give you a call sometime. your number still 911? here she comes to wreck the day. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. it's because i'm green isn't it! good morning, oh in case i don't see you, good afternoon, good evening and goodnight. excuse me, i'd like to ass you a few questions. alrighty then excuse me, i'd like to ass you a few questions. here she comes to wreck the day. look ma i'm road kill we got no food we got no money and our pets heads are falling off! haaaaaaarry. ,</p>
<p> kinda hot in these rhinos. hey, maybe i will give you a call sometime. your number still 911? it's because i'm green isn't it! we're going for a ride on the information super highway. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. brain freeze. brain freeze. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. excuse me, i'd like to ass you a few questions. it's because i'm green isn't it! we're going for a ride on the information super highway. look ma i'm road kill ,</p>
<p> your entrance was good, his was better. we're going for a ride on the information super highway. alrighty then kinda hot in these rhinos. alrighty then hey, maybe i will give you a call sometime. your number still 911? </p>
			</div>
			<div class="col-sm-6">
				<img src="/assets/img/help.jpg" class="img-rounded" alt="Feature">
			</div>
		</div>
		<hr>
		<div class="row feature-item">
			<div class="col-sm-6">
				<img src="/assets/img/helping-hands.jpg" class="img-rounded" alt="Feature">
			</div>
			<div class="col-sm-6 right-text">
				<h2 class="heading">EASY TO CUSTOMIZE</h2>
				<p>Cold wind blows ain't coming back, that skillet good and greasy don't belong to you sugar baby, Jimmy crack corn and I don't care ain't coming back? In bed with a hog-eyed man, foggy mountain top lonesome cold corn aces backed with eights milked her in a gourd pretty Polly that skillet good and greasy sittin' on top o' the world milked her in a gourd sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam pretty Polly. Sun would never shine when I was a little boy the cuckoo on the run peg and awl consectetur adipisicing elit rolling down the track the buggies and the hacks all formed in line rolling down the track scratching out dough.
</p><p>
When I'm gone that skillet good and greasy hopalong going to town, dead in my grave, they're gonna take Sadie to the burying ground. The buggies and the hacks all formed in line Willie wildwood flower she's a pretty bird, the sooner I will marry you've robbed my poor pocket poor boy, nine-pound hammer sittin' on top o' the world. Shady grove. Scratching out dough Jimmy crack corn and I don't care constant sorrow eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Rye whiskey, stranger cluck old hen? Chickens in the sack. Cluck old hen? And I ain't comin' back.
</p><p>
Ain't laid an egg since way last spring, ain't coming back foggy mountain top. They call The Cannonball a poor wayfaring stranger loved another man? Hoecake a poor wayfaring stranger, black as coal, a poor wayfaring stranger ain't no lie sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Gravy run. Jack-a-Diamonds. When I'm gone. Ain't laid an egg since way last spring lonesome nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur Jimmy crack corn and I don't care Uncle John and I ain't comin' back. Work one day don't belong to you. Mule skinner loved another man and I ain't comin' back.
</p><p>
The sooner I will marry mule skinner? Baby on her knee soldier's joy lonesome holler don't belong to you going to town standing on the corner hellhounds on my track quis nostrum exercitationem ullam corporis suscipit laboriosam ain't laid an egg since way last spring totam rem aperiam constant sorrow. Where the sun never shines seaport town, pickle my bones in alcohol sugar baby run! Cold wind blows sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium cluck old hen. The other one round my girl.</p>
			</div>
		</div>
	</section>

	<div class="full-width">
		<section id="testimonials-section" class="container testimonials flexslider">
			<h2 class="hide">Testimonial</h2>
			<ul class="slides">
				<li style="width: 100%; float: left; margin-right: -100%; position: relative;">
					<i class="icon-quote-left icon-4x pull-left"></i>
					<p class="testimonial-content">We can't help everyone, but everyone can help someone.
						<span class="author">- Ronald Reagan</span>
					</p>
				</li>
			</ul>
		</section>
	</div>

	<section id="pricing" class="container section pricing">
		<h2 id="pricing-head" class="heading not-visible">Users</h2>
		<div class="row">
			<div class="col-sm-6 pricing-table">
				<h3 class="heading">Anonymous Guest</h3>
				<p class="description">Log in as an Anonymous Guest</p>
				<!--<ul class="icon-feature">
					<li><i class="icon icon-3x icon-film"></i></li>
					<li><i class="icon icon-3x icon-headphones"></i></li>
				</ul>-->
				<div class="status bottom2" >
					<div style= "margin: 30px 0 10px 0">
						No Profile<br>
						No UserName<br>
						No Password<br>
						</div>
					
					<a href="#" class="btn btn-primary">Log In</a>
				</div>
			</div>
			<div class="col-sm-6 pricing-table recommended">
				<h3 class="heading">Register as Mentor</h3>
				<p class="description">Want to be a Mentor?</p>
				<!--<ul class="icon-feature">
					<li><i class="icon icon-3x icon-film"></i></li>
					<li><i class="icon icon-3x icon-headphones"></i></li>
					<li><i class="icon icon-3x icon-desktop"></i></li>
					<li><i class="icon icon-3x icon-mobile-phone"></i></li>
					<li><i class="icon icon-3x icon-download-alt"></i></li>
				</ul>-->
				<div class="status bottom2">
					<div style= "margin: 30px 0 10px 0">
						Fill out a mentor application<br>
						Get approved<br>
						Help People in need<br>
					</div>
					<a href="#" class="btn btn-primary">Register</a>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- ends main content -->
