<div class="header">
  <div class="login">
    <div>
      <a ui-sref="login">Login</a>
    </div>
  </div>
  <div class="signup">
    <div>
      <div>
        <a ui-sref="register">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1>WeBuild</h1>
        <h2 class="subtitle">We're working hard to improve our website and we'll be ready to launch soon</h2>
        <div id="countdown"></div>
        <form class="form-inline signup" role="form">
          <div class="form-group">
            <input class="form-control" id="exampleInputEmail1" placeholder="Enter your email address" type="email">
          </div>
          <button class="btn btn-theme" type="submit">Get notified!</button>
        </form>
      </div>
    </div>
  </div>
</div>
